<a href="https://colab.research.google.com/github/kathypao/An-lisis_de_Datos_B-sicos/blob/main/Laboratorio3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
          from google.colab import files
uploaded = files.upload()

Saving CSV Laboratorio 3 AD-B.csv to CSV Laboratorio 3 AD-B (1).csv

In [7]:
import pandas as pd
df = pd.read_csv('CSV Laboratorio 3 AD-B.csv')
print(df)

    ID     Name    Category         City  Value        Date
0    1  Charlie       Cat C      Chicago   46.0   4/13/2023
1    2     Jane       Cat C      Houston   53.0  12/15/2023
2    3     Jane  category a      Chicago   68.0   9/28/2023
3    4     John         NaN     New York   97.0   4/17/2023
4    5     Jane       Cat C      Houston   71.0   3/13/2023
5    6      Eve  category a  Los Angeles   61.0    7/8/2023
6    7     Jane  Category A      Chicago   48.0   1/21/2023
7    8      Bob  CATEGORY B     New York   65.0   4/13/2023
8    9      Bob  CATEGORY B  Los Angeles    NaN    5/2/2023
9   10     Dave  CATEGORY B  Los Angeles   11.0    8/3/2023
10  11      Bob       Cat C          NaN   96.0  11/27/2023
11  12     Dave  Category A      Houston   10.0   3/29/2023
12  13      Bob       Cat C      Chicago   11.0   4/10/2023
13  14      Eve         NaN     New York   99.0  12/26/2023
14  15    Grace       Cat C          NaN   41.0    6/1/2023
15  16     Dave  Category A      Houston   64.0   5/11/2023
16  17    Alice  Category A          NaN   26.0   5/30/2023
17  18  Charlie         NaN      Houston   33.0   11/5/2023
18  19     John  Category A      Houston   79.0   9/15/2023
19  20      Bob  Category A      Chicago   25.0  12/10/2023
20  21     Jane  CATEGORY B      Houston   68.0  10/21/2023
21  22    Grace         NaN          NaN   12.0   7/11/2023
22  23      Bob  Category B      Houston   68.0   10/4/2023
23  24     Jane  Category B      Chicago   99.0   6/10/2023
24  25  Charlie  Category A      Chicago   28.0  11/10/2023
25  26  Charlie  Category B          NaN   80.0   1/22/2023
26  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
27  28     Jane  Category A  Los Angeles   48.0   8/24/2023
28  29      Bob  Category B      Houston   10.0  12/11/2023
29  30  Charlie       Cat C     New York   66.0   2/18/2023
30  31      Eve  category a      Houston   32.0   2/28/2023
31  32     Dave         NaN          NaN   51.0   6/19/2023
32  33     Jane  category a          NaN   25.0    7/7/2023
33  34     Jane  Category A          NaN   69.0   9/28/2023
34  35      Bob  CATEGORY B          NaN   10.0    7/9/2023
35  36     Jane         NaN          NaN    NaN   6/24/2023
36  37     Jane  Category A      Chicago   46.0   2/20/2023
37  38  Charlie  CATEGORY B  Los Angeles   18.0  12/30/2023
38  39      Bob  category a          NaN   28.0   2/24/2023
39  40  Charlie  Category A     New York   12.0    9/1/2023
40  41     Dave         NaN     New York   63.0  11/16/2023
41  42    Grace         NaN     New York   33.0   5/11/2023
42  43     Dave       Cat-C     New York   81.0   11/3/2023
43  44    Grace       Cat C      Chicago   93.0   5/15/2023
44  45  Charlie  Category B     New York   98.0   1/21/2023
45  46     Dave  CATEGORY B          NaN   27.0  11/25/2023
46  47      Bob       Cat-C      Houston   91.0   6/16/2023
47  48     John  Category B     New York   44.0   10/1/2023
48  49  Charlie  Category B      Chicago   50.0   3/30/2023
49  50    Grace  Category A      Chicago   77.0  11/12/2023
50  14      Eve         NaN     New York   99.0  12/26/2023
51  40  Charlie  Category A     New York   12.0    9/1/2023
52  31      Eve  category a      Houston   32.0   2/28/2023
53  46     Dave  CATEGORY B          NaN   27.0  11/25/2023
54  18  Charlie         NaN      Houston   33.0   11/5/2023
55  49  Charlie  Category B      Chicago   50.0   3/30/2023
56  27  Charlie  Category B  Los Angeles   42.0   9/10/2023
57  26  Charlie  Category B          NaN   80.0   1/22/2023
58  33     Jane  category a          NaN   25.0    7/7/2023
59  20      Bob  Category A      Chicago   25.0  12/10/2023

In [44]:
# Mostrar datos nulos
print(df.isnull())

       ID   Name  Category   City  Value   Date
0   False  False     False  False  False  False
1   False  False     False  False  False  False
2   False  False     False  False  False  False
4   False  False     False  False  False  False
5   False  False     False  False  False  False
6   False  False     False  False  False  False
7   False  False     False  False  False  False
9   False  False     False  False  False  False
11  False  False     False  False  False  False
12  False  False     False  False  False  False
15  False  False     False  False  False  False
18  False  False     False  False  False  False
19  False  False     False  False  False  False
20  False  False     False  False  False  False
22  False  False     False  False  False  False
23  False  False     False  False  False  False
24  False  False     False  False  False  False
26  False  False     False  False  False  False
27  False  False     False  False  False  False
28  False  False     False  False  False  False
29  False  False     False  False  False  False
30  False  False     False  False  False  False
36  False  False     False  False  False  False
37  False  False     False  False  False  False
39  False  False     False  False  False  False
42  False  False     False  False  False  False
43  False  False     False  False  False  False
44  False  False     False  False  False  False
46  False  False     False  False  False  False
47  False  False     False  False  False  False
48  False  False     False  False  False  False
49  False  False     False  False  False  False

In [41]:
# Mostrar datos duplicados
print(df.duplicated().sum())
print(df.duplicated())

0
0     False
1     False
2     False
4     False
5     False
6     False
7     False
9     False
11    False
12    False
15    False
18    False
19    False
20    False
22    False
23    False
24    False
26    False
27    False
28    False
29    False
30    False
36    False
37    False
39    False
42    False
43    False
44    False
46    False
47    False
48    False
49    False
dtype: bool

In [20]:
# Conteo de frecuencia
print(df['City'].value_counts())

City
Chicago        13
Houston        13
New York       12
Los Angeles     7
Name: count, dtype: int64

In [39]:
# Eliminación o remplazo de valores nul0s
df = df.dropna()
print(df)

    ID     Name    Category         City  Value       Date
0    1  Charlie       Cat C      CHICAGO   46.0 2023-04-13
1    2     Jane       Cat C      HOUSTON   53.0 2023-12-15
2    3     Jane  category a      CHICAGO   68.0 2023-09-28
4    5     Jane       Cat C      HOUSTON   71.0 2023-03-13
5    6      Eve  category a  LOS ANGELES   61.0 2023-07-08
6    7     Jane  Category A      CHICAGO   48.0 2023-01-21
7    8      Bob  CATEGORY B     NEW YORK   65.0 2023-04-13
9   10     Dave  CATEGORY B  LOS ANGELES   11.0 2023-08-03
11  12     Dave  Category A      HOUSTON   10.0 2023-03-29
12  13      Bob       Cat C      CHICAGO   11.0 2023-04-10
15  16     Dave  Category A      HOUSTON   64.0 2023-05-11
18  19     John  Category A      HOUSTON   79.0 2023-09-15
19  20      Bob  Category A      CHICAGO   25.0 2023-12-10
20  21     Jane  CATEGORY B      HOUSTON   68.0 2023-10-21
22  23      Bob  Category B      HOUSTON   68.0 2023-10-04
23  24     Jane  Category B      CHICAGO   99.0 2023-06-10
24  25  Charlie  Category A      CHICAGO   28.0 2023-11-10
26  27  Charlie  Category B  LOS ANGELES   42.0 2023-09-10
27  28     Jane  Category A  LOS ANGELES   48.0 2023-08-24
28  29      Bob  Category B      HOUSTON   10.0 2023-12-11
29  30  Charlie       Cat C     NEW YORK   66.0 2023-02-18
30  31      Eve  category a      HOUSTON   32.0 2023-02-28
36  37     Jane  Category A      CHICAGO   46.0 2023-02-20
37  38  Charlie  CATEGORY B  LOS ANGELES   18.0 2023-12-30
39  40  Charlie  Category A     NEW YORK   12.0 2023-09-01
42  43     Dave       Cat-C     NEW YORK   81.0 2023-11-03
43  44    Grace       Cat C      CHICAGO   93.0 2023-05-15
44  45  Charlie  Category B     NEW YORK   98.0 2023-01-21
46  47      Bob       Cat-C      HOUSTON   91.0 2023-06-16
47  48     John  Category B     NEW YORK   44.0 2023-10-01
48  49  Charlie  Category B      CHICAGO   50.0 2023-03-30
49  50    Grace  Category A      CHICAGO   77.0 2023-11-12

In [56]:
# Eliminación de duplicados
df = df.drop_duplicates()

In [54]:
# Normalización de formato en columnas
df['City'] = df['City'].str.upper()

In [52]:
# Formato fecha
df['Date'] = pd.to_datetime(df['Date'])

In [57]:
# Formato category
df['Category'] = df['Category'].str.capitalize()

# Remplazar Cat c por Category C
df['Category'] = df['Category'].str.replace('Cat  c', 'Category C')
df['Category'] = df['Category'].str.replace('Cat-c' , 'Category C')
print(df)

    ID     Name    Category         City  Value       Date
0    1  Charlie  Category c      CHICAGO   46.0 2023-04-13
1    2     Jane  Category c      HOUSTON   53.0 2023-12-15
2    3     Jane  Category a      CHICAGO   68.0 2023-09-28
4    5     Jane  Category c      HOUSTON   71.0 2023-03-13
5    6      Eve  Category a  LOS ANGELES   61.0 2023-07-08
6    7     Jane  Category a      CHICAGO   48.0 2023-01-21
7    8      Bob  Category b     NEW YORK   65.0 2023-04-13
9   10     Dave  Category b  LOS ANGELES   11.0 2023-08-03
11  12     Dave  Category a      HOUSTON   10.0 2023-03-29
12  13      Bob  Category c      CHICAGO   11.0 2023-04-10
15  16     Dave  Category a      HOUSTON   64.0 2023-05-11
18  19     John  Category a      HOUSTON   79.0 2023-09-15
19  20      Bob  Category a      CHICAGO   25.0 2023-12-10
20  21     Jane  Category b      HOUSTON   68.0 2023-10-21
22  23      Bob  Category b      HOUSTON   68.0 2023-10-04
23  24     Jane  Category b      CHICAGO   99.0 2023-06-10
24  25  Charlie  Category a      CHICAGO   28.0 2023-11-10
26  27  Charlie  Category b  LOS ANGELES   42.0 2023-09-10
27  28     Jane  Category a  LOS ANGELES   48.0 2023-08-24
28  29      Bob  Category b      HOUSTON   10.0 2023-12-11
29  30  Charlie  Category c     NEW YORK   66.0 2023-02-18
30  31      Eve  Category a      HOUSTON   32.0 2023-02-28
36  37     Jane  Category a      CHICAGO   46.0 2023-02-20
37  38  Charlie  Category b  LOS ANGELES   18.0 2023-12-30
39  40  Charlie  Category a     NEW YORK   12.0 2023-09-01
42  43     Dave  Category c     NEW YORK   81.0 2023-11-03
43  44    Grace  Category c      CHICAGO   93.0 2023-05-15
44  45  Charlie  Category b     NEW YORK   98.0 2023-01-21
46  47      Bob  Category c      HOUSTON   91.0 2023-06-16
47  48     John  Category b     NEW YORK   44.0 2023-10-01
48  49  Charlie  Category b      CHICAGO   50.0 2023-03-30
49  50    Grace  Category a      CHICAGO   77.0 2023-11-12

In [50]:
# Guardar archivo CSV
ruta_archivo = "C:/Users/yccab/OneDrive/Escritorio/df_resultado.csv"
df.to_csv(ruta_archivo, index=False)
print("Archivo CSV guardado en:", ruta_archivo)

OSError: Cannot save file into a non-existent directory: 'C:/Users/yccab/OneDrive/Escritorio'